In [107]:
import pandas as pd
import numpy as np

In [128]:
insurance_Seoul = pd.read_csv('시군구_서울_인천_경기_강원_별_보험료분위별_현황.csv')

In [129]:
avg_ins_Seoul = insurance_Seoul[['시군구별(1)','보험료분위별(1)','2019','2019.1', '2019.2']] 
# 필요없는 인덱스 삭제 (row 삭제)
avg_ins_Seoul = avg_ins_Seoul.drop(index=[0,1,2], axis=0) 
# 컬럼이름 변경
avg_ins_Seoul.columns = ['시군구별', '보험료분위별', '세대수(세대)', '평균보험료(원)', '적용인구(명)']
# 인덱스 번호 수정
avg_ins_Seoul = avg_ins_Seoul.reset_index(drop=True)
avg_ins_Seoul

   시군구별 보험료분위별  세대수(세대) 평균보험료(원)   적용인구(명)
0    서울      계  5143287   125604   9522631
1    서울    1분위   465864    26698    703098
2    서울    2분위   414537    41484    627675
3    서울    3분위   481539    44701    707344
4    서울    4분위   539797    51084    802121
5    서울    5분위   481945    68575    766496
6    서울    6분위   465660    86644    790359
7    서울    7분위   520003   107952    904134
8    서울    8분위   522868   137233   1067042
9    서울    9분위   555259   184643   1291648
10   서울   10분위   695815   378654   1862714
11   인천      계  1495927   102529   2888920
12   인천    1분위   125210    26169    188069
13   인천    2분위   141056    42585    218682
14   인천    3분위   157532    45320    238865
15   인천    4분위   166635    52690    260665
16   인천    5분위   164175    68321    275715
17   인천    6분위   167544    86352    308208
18   인천    7분위   161441   108100    326208
19   인천    8분위   154568   136759    361371
20   인천    9분위   140245   184435    370112
21   인천   10분위   117521   323624    341025
22   경기      계  6823917   112882  13392474
23   경기    1분위   583624    25866    889134
24   경기    2분위   625332    42794    969676
25   경기    3분위   634498    47206    973194
26   경기    4분위   700754    53514   1083634
27   경기    5분위   683826    68787   1140403
28   경기    6분위   699747    86560   1269065
29   경기    7분위   750226   107952   1438397
30   경기    8분위   715774   136999   1641880
31   경기    9분위   700582   184431   1824810
32   경기   10분위   729554   335987   2162281
33   강원      계   716596    91332   1339770
34   강원    1분위    92663    20386    131037
35   강원    2분위    89265    36630    134144
36   강원    3분위    79902    44853    123586
37   강원    4분위    73441    54611    119579
38   강원    5분위    75224    65312    130761
39   강원    6분위    71979    84739    134221
40   강원    7분위    59245   107525    118871
41   강원    8분위    62622   136777    142589
42   강원    9분위    63992   185212    169323
43   강원   10분위    48263   308608    135659

In [124]:
insurance_Busan = pd.read_csv('시군구_부산_대구_울산_경북_경남_별_보험료분위별_현황.csv')

In [125]:
avg_ins_Busan = insurance_Busan[['시군구별(1)','보험료분위별(1)','2019','2019.1', '2019.2']] 
# 필요없는 인덱스 삭제 (row 삭제)
avg_ins_Busan = avg_ins_Busan.drop(index=[0,1,2], axis=0) 
# 컬럼이름 변경
avg_ins_Busan.columns = ['시군구별', '보험료분위별', '세대수(세대)', '평균보험료(원)', '적용인구(명)']
# 인덱스 번호 수정
avg_ins_Busan = avg_ins_Busan.reset_index(drop=True)
avg_ins_Busan

   시군구별 보험료분위별  세대수(세대) 평균보험료(원)  적용인구(명)
0    부산      계  1615320   104377  3128875
1    부산    1분위   177010    24566   264146
2    부산    2분위   174520    38051   266077
3    부산    3분위   177291    42491   268856
4    부산    4분위   154541    55710   248891
5    부산    5분위   160340    68027   276251
6    부산    6분위   162934    85679   305397
7    부산    7분위   146903   108229   306706
8    부산    8분위   163937   136910   384501
9    부산    9분위   154704   184540   409617
10   부산   10분위   143140   347284   398433
11   대구      계  1123834   105874  2264246
12   대구    1분위   121399    24647   185434
13   대구    2분위   127754    38754   203211
14   대구    3분위   127200    43144   201524
15   대구    4분위   104592    56481   175806
16   대구    5분위   105839    67995   188250
17   대구    6분위   110892    85927   216114
18   대구    7분위   100778   108249   218858
19   대구    8분위   111856   137044   272389
20   대구    9분위   110300   184753   304961
21   대구   10분위   103224   351710   297699
22   울산      계   558773   121091  1180477
23   울산    1분위    43213    23554    62732
24   울산    2분위    51336    36819    75018
25   울산    3분위    49272    42524    72505
26   울산    4분위    46426    56322    73443
27   울산    5분위    53862    69110    90318
28   울산    6분위    54821    86735   101262
29   울산    7분위    54942   108428   112051
30   울산    8분위    58482   137419   138610
31   울산    9분위    65886   184859   189005
32   울산   10분위    80533   315321   265533
33   경북      계  1214488    94620  2407349
34   경북    1분위   156338    19733   225269
35   경북    2분위   145624    35753   223530
36   경북    3분위   121208    43452   191584
37   경북    4분위   113392    52898   189054
38   경북    5분위   127722    64408   229855
39   경북    6분위   122708    84775   239938
40   경북    7분위   110566   107930   232038
41   경북    8분위   112591   136902   275684
42   경북    9분위   112730   184813   319182
43   경북   10분위    91609   311627   281215
44   경남      계  1593803    99117  3186349
45   경남    1분위   173679    21770   252774
46   경남    2분위   174399    37241   266351
47   경남    3분위   155099    43958   242946
48   경남    4분위   152425    55022   251559
49   경남    5분위   172466    66226   305185
50   경남    6분위   174389    85594   337081
51   경남    7분위   161452   108107   342717
52   경남    8분위   154010   136922   380347
53   경남    9분위   150485   184662   429121
54   경남   10분위   125399   317497   378268

In [147]:
insurance_Daejeon = pd.read_csv('시군구_대전_세종_충북_충남_별_보험료분위별_현황.csv')

In [143]:
avg_ins_Daejeon = insurance_Daejeon[['시군구별(1)','보험료분위별(1)','2019','2019.1', '2019.2']] 
# 필요없는 인덱스 삭제 (row 삭제)
avg_ins_Daejeon = avg_ins_Daejeon.drop(index=[0,1,2], axis=0) 
# 컬럼이름 변경
avg_ins_Daejeon.columns = ['시군구별', '보험료분위별', '세대수(세대)', '평균보험료(원)', '적용인구(명)']
# 인덱스 번호 수정
avg_ins_Daejeon = avg_ins_Daejeon.reset_index(drop=True)
avg_ins_Daejeon

   시군구별 보험료분위별  세대수(세대) 평균보험료(원)  적용인구(명)
0    대전      계   713038   105323  1404674
1    대전    1분위    70619    24932   106562
2    대전    2분위    78541    38760   120649
3    대전    3분위    86438    43183   131264
4    대전    4분위    67383    56210   109449
5    대전    5분위    67318    67904   115418
6    대전    6분위    66583    85940   123517
7    대전    7분위    60866   108465   124569
8    대전    8분위    70238   137192   162902
9    대전    9분위    74407   184958   198480
10   대전   10분위    70645   318226   211864
11   세종      계   163193   122119   350897
12   세종    1분위    13125    24270    19115
13   세종    2분위    13118    40686    19946
14   세종    3분위    11230    51096    17598
15   세종    4분위    12262    59189    19458
16   세종    5분위    13837    69808    23209
17   세종    6분위    15137    87005    27169
18   세종    7분위    16820   109138    33703
19   세종    8분위    22082   138287    53384
20   세종    9분위    25552   184082    73586
21   세종   10분위    20030   294618    63729
22   충북      계   793910    97951  1509153
23   충북    1분위    82402    21197   117510
24   충북    2분위    89862    37848   134372
25   충북    3분위    80701    45193   122210
26   충북    4분위    76241    55454   121426
27   충북    5분위    84744    67314   143065
28   충북    6분위    87252    86254   158142
29   충북    7분위    83289   108286   163284
30   충북    8분위    78761   136752   184246
31   충북    9분위    71841   184573   194165
32   충북   10분위    58817   313885   170733
33   충남      계  1045828   100198  2031758
34   충남    1분위   115807    20431   166374
35   충남    2분위   114765    36455   171232
36   충남    3분위    95612    45188   145829
37   충남    4분위    94361    54183   151396
38   충남    5분위   105959    65948   181588
39   충남    6분위   108440    85424   199325
40   충남    7분위   114713   107908   219998
41   충남    8분위   109685   136977   255273
42   충남    9분위   102712   184178   281433
43   충남   10분위    83774   313172   259310

In [144]:
insurance_KwangJu = pd.read_csv('시군구_광주_전북_전남_제주_별_보험료분위별_현황.csv')

In [145]:
# 평균보험료 = 분위별 세대수 * 평균보험료(원) / 전체 세대수
print(insurance_KwangJu.columns)
#['시군구별(1)','보험료분위별(1)','2019.1', '2019.2'] 데이터 추출
avg_ins_KwangJu = insurance_KwangJu[['시군구별(1)','보험료분위별(1)','2019','2019.1', '2019.2']] 
# 필요없는 인덱스 삭제 (row 삭제)
avg_ins_KwangJu = avg_ins_KwangJu.drop(index=[0,1,2], axis=0) 
# 컬럼이름 변경
avg_ins_KwangJu.columns = ['시군구별', '보험료분위별', '세대수(세대)', '평균보험료(원)', '적용인구(명)']
# 인덱스 번호 수정
avg_ins_KwangJu=avg_ins_KwangJu.reset_index(drop=True)
avg_ins_KwangJu
# avg_ins_KwangJu.set_index('시군구별')
# avg_ins_KwangJu

Index(['시군구별(1)', '보험료분위별(1)', '2019', '2019.1', '2019.2', '2019.3', '2019.4',
       '2019.5', '2019.6', '2019.7', '2019.8', '2019.9', '2019.10', '2019.11',
       '2019.12', '2019.13', '2019.14'],
      dtype='object')

   시군구별 보험료분위별 세대수(세대) 평균보험료(원)  적용인구(명)
0    광주      계  686733   102562  1369265
1    광주    1분위   64784    24730    97280
2    광주    2분위   81033    39317   127528
3    광주    3분위   87393    44586   137172
4    광주    4분위   66259    55993   109156
5    광주    5분위   66579    67552   116506
6    광주    6분위   67352    85976   128961
7    광주    7분위   60775   108097   128107
8    광주    8분위   65085   137073   154456
9    광주    9분위   66924   184460   184005
10   광주   10분위   60549   328894   186094
11   전북      계  825549    90978  1621241
12   전북    1분위  112366    20202   163825
13   전북    2분위  103205    37987   164701
14   전북    3분위   96008    44445   155176
15   전북    4분위   82906    53329   140375
16   전북    5분위   83557    64154   152314
17   전북    6분위   78632    84745   152895
18   전북    7분위   68157   107827   142466
19   전북    8분위   70166   136863   168266
20   전북    9분위   73646   185510   209932
21   전북   10분위   56906   309094   171291
22   전남      계  854715    89601  1670149
23   전남    1분위  130204    17720   183070
24   전남    2분위  104344    34942   162965
25   전남    3분위   88788    43987   143460
26   전남    4분위   84531    50823   143868
27   전남    5분위   90885    62381   167394
28   전남    6분위   82970    84179   163241
29   전남    7분위   69925   107611   143792
30   전남    8분위   69741   136995   169381
31   전남    9분위   73525   184605   207122
32   전남   10분위   59802   319767   185856
33   제주      계  340856    95415   645324
34   제주    1분위   42669    22203    63509
35   제주    2분위   42286    35746    65320
36   제주    3분위   41265    44520    63699
37   제주    4분위   35031    57156    57477
38   제주    5분위   32699    67521    57645
39   제주    6분위   33936    85118    65536
40   제주    7분위   30876   107366    62451
41   제주    8분위   28510   136082    66017
42   제주    9분위   28187   184631    74455
43   제주   10분위   25397   343704    69215

In [146]:
total_Korea_health_insurance = pd.concat([avg_ins_Seoul, avg_ins_Busan, avg_ins_Daejeon, avg_ins_KwangJu], join='outer')
# 인덱스 번호 수정
total_Korea_health_insurance=total_Korea_health_insurance.reset_index(drop=True)
total_Korea_health_insurance

    시군구별 보험료분위별  세대수(세대) 평균보험료(원)  적용인구(명)
0     서울      계  5143287   125604  9522631
1     서울    1분위   465864    26698   703098
2     서울    2분위   414537    41484   627675
3     서울    3분위   481539    44701   707344
4     서울    4분위   539797    51084   802121
..   ...    ...      ...      ...      ...
182   제주    6분위    33936    85118    65536
183   제주    7분위    30876   107366    62451
184   제주    8분위    28510   136082    66017
185   제주    9분위    28187   184631    74455
186   제주   10분위    25397   343704    69215

[187 rows x 5 columns]